* {
  padding: 0;
  margin: 0;
  background-color: #1e1e20;
}

@font-face {
  font-family: 'IOS';
  src: url('../../fonts/SF-Pro.ttf') format('truetype');
}

.gradient {
  background: linear-gradient(to right, 
    #6027b6 0.89%, 
    #6b43af 23%, 
    #6535b3 42.04%, 
    #7a34e9 55.12%, 
    #9456ff 71.54%, 
    #8a4ec7 100%);
  background-clip: text;
  color: transparent;
}

.logo{
  display: flex;
  font-size: 80px;
  font-family: 'IOS';
  margin-left: 1000px;
  margin-top: -330px;
}

.logo p1{
  color: white;
  font-weight: 500;
}

.logo p{
  font-weight: 500;
  z-index: 2;
}

.logo img{
  width: 60px;
  height: 50px;
  margin-top: 38px;
  margin-left: 10px;
}

.hh{
  margin-top: -480px;
  font-size: 28px;
  font-family: 'IOS';
  display: flex;
  color: white;
}

.hh p1{
  margin-left: 100px;
}

.hh p{
  margin-left: 640px;
}

.new{
  margin-left: 500px;
  align-items: center;
  width: 210px;
  height: 55px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  border-color: #432479;
}

.new:hover {
  background-color: #432479;
  color: white;
  cursor: pointer;
  border-color: #432479;
}

.test{
  margin-top: 300px;
  font-family: 'IOS';
  font-size: 70px;
  color: white;
  margin-left: 450px;
  font-weight: 600;
}
.test p{
  margin-top: -20px;
}

.manual{
  margin-left: 50px;
  width: 180px;
  height: 55px;
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  transition: background-color 0.5s, color 0.5s;
  background-color: #432479;
  color: white;
  border-color: #432479;
}

.manual:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border-color: #432479;
}

.searchbar {
  width: 610px;
  position: relative;
  z-index: 1;
  margin-top: 15px;
  margin-left: 950px;
}

.searchbar input {
  width: 100%; 
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 60px;
  font-family: 'IOS';
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
}
