* {
    padding: 0;
    margin: 0;
    background-color: #1e1e20;
  }

@font-face {
    font-family: 'IOS';
    src: url('../../fonts/SF-Pro.ttf') format('truetype');
}

.body .retangulo {
    background-color: white;
    position: fixed;
    width: 1150px;
    height: 120px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 20px;
    overflow: hidden; /* Garante que o conteúdo adicional seja ocultado quando não expandido */
    transition: height 0.5s ease; /* Adiciona uma transição suave no height */
  }
  
.body .retangulo.expanded {
    height: 300px; /* Ajuste conforme necessário para a altura expandida */
    position: fixed;
  }
  
.additional-content {
    background-color: white;
    padding: 20px;
    color: #000; /* Cor do texto do conteúdo adicional */
}
  

.start{
    margin-top: -525px;
    font-size: 28px;
    font-family: 'IOS';
    display: flex;
    color: white;
}

.start p1{
    margin-left: 220px;
}

.start p{
    margin-left: 530px;
    margin-right: 50px;
}

.new{
    margin-left: 400px;
    align-items: center;
    width: 210px;
    height: 55px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border-color: #432479;
  }
  
  .new:hover {
    background-color: #432479;
    color: white;
    cursor: pointer;
    border-color: #432479;
  }

.title{
    display: flex;
    font-size: 80px;
    font-family: 'IOS';
    margin-left: 720px;
    margin-top: 170px;
}

.gradient {
    background: linear-gradient(to right, 
      #6027b6 0.89%, 
      #6b43af 23%, 
      #6535b3 42.04%, 
      #7a34e9 55.12%, 
      #9456ff 71.54%, 
      #8a4ec7 100%);
    background-clip: text;
    color: transparent;
}
  

.title p1{
    color: white;
    font-weight: 500;
}

.title p{
    font-weight: 500;
    margin-top: 1px;
}

.title img{
    width: 60px;
    height: 50px;
    margin-top: 38px;
    margin-left: 10px;
}

.body .retangulo{
    background-color: white;
    width: 1150px;
    height: 120px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 20px;
    
}


.retangulo {
    font-size: 30px;
    font-family: "IOS";
    color: #000;
    z-index: 1;
}

.mais .d{
    font-size: 20px;
    z-index: 2;
}

.pesquisado{
    display: flex;
    background-color: white;

}

.body h1{
    color: #1e1e20;
    background-color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: 39px;
    margin-left: 35px;
}

.body h3{
    font-size: 32px;
    background-color: white;
    color: #8b8b8b;
    margin-top: 40px;
    margin-left: 30px;
}

.body img{
    background-color: white;
    margin-left: 70px;
    margin-top: 31px;
    width: 60px;
    height: 60px;
}

.mais {
    background-color: white;
    display: flex;
}

.body h2{
    font-size: 38px;
    margin-left: 150px;
    margin-top: 60px;
    background-color: white;
    color:#1e1e20;
    font-weight: 500;
}

.body h4{
    background-color: white;
    margin-top: 69px;
    color: #5c5c5c;
    margin-left: 20px;
}
  